.imagen-fondo{
    background-image: url('../assets/imagenes/crustaceo_cascarudo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}