.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: #D7D7D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.izquierda a{
    display: flex;
    align-items: center;
    gap:10px;
}
.navbar-logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
/* Estilo de los componentes Link de react-router-dom, se renderizan como a*/
.navbar a {
    /*elimina el subrayado de las etiquetas a*/
    text-decoration: none;
    /*hereda el color del elemento padre, en este caso del body*/
    color: inherit;
}

.barra-busqueda{
    align-self: center;
}

.derecha{
    display: flex;
    align-items: center;
    gap: 25px;
}

