.tarjeta-producto-general{
    text-align: center;
}

.general-image{
    width: 300px;
    height: 171.82px;
    border-radius: 25px;
}

.general-name{
    width: 307px;
    height: 49px;
    margin-bottom: 0;
}

.general-price{
    font-size: 35px;
    color: #D97B29;
    margin: 5px 0;
}

.general-info-producto {
    border-radius: 25px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden; /* Asegura que el contenido de ::after no se desborde */
    transition: transform 0.3s ease; /* Agrega una transición suave al transform */
}
.general-info-producto:hover{
    transform: scale(1.05); /* Amplía el elemento un 5% al pasar el mouse */
}

.general-info-producto::after {
    content: "Ver producto detallado";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5); /* fondo negro semi-transparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translate(-50%, -50%); /* Centra el contenido de ::after */
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease; /* Agrega una transición suave */
    opacity: 0; /* Inicialmente, el contenido de ::after es transparente */
}

.general-info-producto:hover::after {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); /* Mantiene el contenido de ::after centrado */
    opacity: 1; /* Al pasar el mouse, el contenido de ::after se vuelve opaco */
    cursor: pointer;
}