.boton-menu {
  background: linear-gradient(to right, #d97b29, #734116);
  color: #ebebeb;
  height: 70px;
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  padding: 0 40px;
}
.boton-menu:hover {
  cursor: pointer;
  filter: brightness(90%); /* Oscurece el botón un 10% al pasar el mouse */
}
.active {
  background: rgb(77, 43, 9);
  pointer-events: none; /* Deshabilita el hover */
}
