.boton-agregar-producto {
    background-color: #D97B29;
    color: #EBEBEB;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
}
.boton-agregar-producto:hover{
    cursor:pointer;
    filter: brightness(90%); /* Oscurece el botón un 10% al pasar el mouse */
}