.table-container {
  padding:25px 20px 10px 20px;
}

.table {
  width: 100%; 
}

tfoot td {
  font-weight: bold;
}

.car-empty {
  padding: 20px;
  margin: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center; 
  gap: 15px;
}

.continue-btn{
  width: 200px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #D97B29, #734116);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-btn{
  width: 200px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgb(186, 181, 181);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-btn:hover, .back-btn:hover {
  background-color: #ebeff5;
  color: black;
}

.delete-btn {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  transition: color 0.3s;
}

.delete-btn i {
  color: gray; 
  font-size: 25px; 
}

.delete-btn:hover i {
  color: darkgray; 
}


.quantity-controls {
  display: flex;
  padding-top: 5px;
  gap: 10px;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.quantity-value {
  font-size: 18px;
  width: 15px;
  text-align: center;
}





