.table {
  width: 100%;
}

tfoot td {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.comprar-btn {
  width: 200px; /* Ajusta este valor según lo desees */
}


.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los botones y la cantidad */
}

.quantity-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.quantity-value {
  font-size: 18px;
  width: 15px;
  text-align: center;
}
