.tarjeta-producto-detallado{
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.detallado-image{
    width: 558px;
    height: 335px;
    border-radius: 25px;
}

.detallado-info-producto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.return-btn {
    width: auto;
    padding: 10px 20px;
    background-color: rgba(169, 169, 169, 0.7); /* Gris oscuro con transparencia */
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.return-btn:hover {
    background-color: rgba(128, 128, 128, 0.7); /* Gris aún más oscuro con transparencia en hover */
}

@media screen and (min-width: 1250px) {
    .tarjeta-producto-detallado{
        height: 80vh;
        gap: 80px;
    }
}