.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
.titulo {
    text-align: center;
    
    color: #333;
    font-weight: ubuntu;
    font-size: 2rem;
}

  .form-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: ubuntu;
    font-size: 2rem; /* text-2xl */
  }
  
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4a0a0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    background-color: #f9f9f9;
    align-items: center;
    text-align: center;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group .checkbox-label {
    display: flex;
    align-items: center;
    color: #333;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input {
    margin-right: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f7931e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .submit-button:hover {
    background-color: #e68317;
  }
  
  .link {
    color: #f7931e;
    margin-top: 0px;
    display: block;
    text-align: center;
    text-decoration: underline;
  }
  


  